# Local development defaults for frontend
# used for sitemap.ts , robots.ts , and for client.ts
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# used for Draft Mode (Open in Studio Url)
NEXT_PUBLIC_STUDIO_URL=http://localhost:3333
# used for metadata to set robots
NEXT_PUBLIC_SITE_ENV=development

# Resend to send contact form submissions
RESEND_API_KEY=replace-me-local-or-test-key
NEXT_RESEND_TO_EMAIL=replace-me@example.com
NEXT_RESEND_FROM_EMAIL=replace-me@example.com

# SANITY CMS
# use current date (YYYY-MM-DD) to target the latest API version
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-23
NEXT_PUBLIC_SANITY_PROJECT_ID=project-id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=replace-me-sanity-read-token
