# Deploy-oriented defaults for frontend
# Keep runtime env vars in Vercel dashboard/vercel env pull.
# This template helps when you need deploy-like values locally.

# used for sitemap.ts , robots.ts , and for client.ts
NEXT_PUBLIC_SITE_URL=https://your-url.vercel.app/
# used for Draft Mode (Open in Studio Url)
NEXT_PUBLIC_STUDIO_URL=https://your-url.sanity.studio
# used for metadata to set robots
NEXT_PUBLIC_SITE_ENV=production

# Resend to send contact form submissions
RESEND_API_KEY=replace-me-resend-key
NEXT_RESEND_TO_EMAIL=replace-me@example.com
NEXT_RESEND_FROM_EMAIL=replace-me@example.com

# SANITY CMS
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-23
NEXT_PUBLIC_SANITY_PROJECT_ID=project-id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=replace-me-sanity-read-token
